<div *ngIf="firma" class="list-item">
    <a [routerLink]="firma.id">
        <h2>{{firma.name}}</h2>
        <p *ngIf="firma.webseite">Webseite: {{firma.webseite}}</p>
        <p *ngIf="firma.ansprechPartner">Ansprechpartner: {{firma.ansprechPartner}}</p>
        <p *ngIf="firma.email">Email: {{firma.email}}</p>
        <p *ngIf="firma.sonstiges">{{firma.sonstiges}}</p>
    </a>
    <button class="red" (click)="deleteFirma(firma)">
        Firma Löschen
    </button>
    <a class="button" [routerLink]="['/admin/edit-firma', firma.id]">
        Firma Bearbeiten
    </a>      
</div>

